body{
    background-color:#ddd;
   
}
header{
    background-color:rgb(55, 120, 122);


}

ul{
    list-style-type:none;
    margin : 0;
    padding : 0;
}

.nav{
    background-color: rgb(55, 120, 122);
    overflow:hidden;

}

.nav li {   
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;
    color:rgb(32, 167, 190);
    display:inline;
}


.nav li:hover{
    background-color:#ddd;
    color:black;
}

.nav li.active{
    background-color:#04AA6D;
    color:white;
}



#bio{
    display:flex;
    flex:auto;
    font-size:large;
    width:auto; 
     height:300px;
     position:relative;
}
 .photo{
      width:auto; 
     height:300px;
     /* position:relative; */
     
 }
 #headshot{
    width:200px;
    height:auto;
 }
 .info{
    /* position:relative; */
 }

#project a{
    width:70%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav li {
      float: none;
      display: block;
      text-align: left;
      position: sticky;
      top: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }


  
  footer{
      text-align:center;
  }
  